.link a{
    background-color: #1b1b1b;
    color: whitesmoke;
    padding-bottom: 5px;
    margin: auto;
    width: 25%;
    height: 1%;
}
.link.PC{
    padding: 1px 30vw;
}
.link.Mobile{
    padding: 1px 10px; 
}
.link {
    display: flex;
    text-align:center;
    background-color: #1b1b1b;
    border-top:solid 2px #3e3e3e;
    justify-content: center;
}
.link a:hover{
    color: #bbbbbb;
    background-color:#3e3e3e;
}