.link a{
    background-color: #1b1b1b;
    color: whitesmoke;
    padding-bottom: 5px;
    margin: 0 0;
    height: 1%;
    width: 7vw;
}
.link {
    display: flex;
    text-align:center;
    background-color: #1b1b1b;
    padding: 1px 1px;
    border-top:solid 2px #3e3e3e;
    justify-content: center;
}
.link a:hover{
    color: #bbbbbb;
    background-color:#3e3e3e;
}