body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: whitesmoke;
  padding: 0px;
  margin: 0 auto;
  color: #1b1b1b;
}
a {
  color: inherit;
  text-decoration: none;
}
.bodyText{
  text-align: left;
  padding: 10px 20px;
  width: 100vw;
}
.mainPC {
  margin: 0 auto;
  width: 50vw;
  max-width: 75vw;
  min-width: 550px;
  padding: 50px;
  background-color: white;
}
.mainMobile{
  margin: 0 auto;
  width: 100vw;
  padding: 1px;
  background-color: white;
}
.plus{
  margin: 10px auto;
  display: flex;
  justify-content: center;
  background: transparent;
  border: transparent;
}
.plus img{
  height: 30px;
  fill: #1b1b1b;
}